CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.idea
/bin
/shipping_build
lunam.exe
/media/shaders/
/log
/.vscode
**/.DS_Store
extern/Simd/prj/txt/FullVersion.txt
extern/Simd/src/Simd/SimdVersion.h
/shipping_tool/.idea
/shipping_tool/.vscode
/shipping_tool/.venv
/shipping_tool/__pycache__
/license_server/.idea
/license_server/.vscode
/license_server/.venv
/license_server/__pycache__
/engine_assets/scenes/
